.button {
    border: 1px solid;
    font-size: 20px;
    color: black;
    margin-top: 40px;
    margin-left: 620px;
    text-align: right;
    padding: 0.5em 1em;
    border-radius: 1em;
    outline: none;
    cursor: pointer;
}

.button:hover{
    background-color: #FC7300;
}
