.button {
    background-color: #FFFDD0;
    border: 1px solid;
    border-color: #D3D3D3;
    font-size: 35px;
    color: black;
    margin-top: 40px;
    margin-left: 620px;
    text-align: right;
    padding: 0.5em 1em;
    border-radius: 1em;
    outline: none;
    cursor: pointer;
}
