.TextBox {
    font-size: 14px;
    width: 290px;
    border: 2px solid;
    border-color: #D3D3D3;
    border-radius: 4px; 
    margin-bottom: 4%;
 }

 p {
    margin-top: 0;
    margin-bottom: 0%;
}
.react-datetime-picker__wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    border: thin solid gray;
    margin-bottom: 4%;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
